<!-- # custom 'script' partial -->
<script>
//hide all code blocks that are labeled w/ "language-test"
$('.language-test').parent().css('display', 'none')

// Add a Copy button for each example code snippet:
var copybtns = {
  fallbackCopyTextToClipboard: function (text) {
    var txt = document.createElement("textarea");
    txt.value = text;
    
    // Avoid scrolling
    txt.style.position = "fixed";
    txt.style.top = "0";
    txt.style.left = "0";
  
    document.body.appendChild(txt);
    txt.focus();
    txt.select();
    txt.setSelectionRange(0, 99999);
  
    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
    } catch (err) {
      console.error('Fallback: Unable to copy', err);
    }
  
    document.body.removeChild(txt);
  },
  copyTextToClipboard: function (text) {
    if (!navigator.clipboard) {
      copybtns.fallbackCopyTextToClipboard(text);
      return;
    }
    navigator.clipboard.writeText(text).then(function() {
      //console.log('Copy to clipboard success');
    }, function(err) {
      //console.error('Could not copy text: ', err);
      copybtns.fallbackCopyTextToClipboard(text);
    });
  },
  flash: function(btn, content){
    //flash the content
    content.fadeTo(50, 0.25, function() { $(this).fadeTo(300, 1.0); });
    //flash the copy button
    btn.fadeTo(50, 0.0, function() { $(this).fadeTo(900, 1.0); });
  },
  txtClick : function(){
    var content = $(this);
    var btn = content.prev('button');
    // flash the copybtn and content elements
    copybtns.flash(btn, content);
    // populate the copy buffer
    copybtns.copyTextToClipboard(content.text());
  },
  btnClick : function(){
    var btn = $(this);
    var content = $(btn.next().children()[0]);
    // flash the copybtn and content elements
    copybtns.flash(btn, content)
    // populate the copy buffer
    copybtns.copyTextToClipboard(content.text());
  },
  init : function() {
    var buttonHTML = '<button type="button" data-toggle="tooltip" data-placement="top" title="Copy" class="copybtn btn btn-outline-dark"><img src="/img/Icon-Red_Hat-Media_and_documents-Paper_Stack_Blank-A-Black-RGB.png"/></button>';
    // Add a copy button for each example command:
    $('div.highlight').prepend(buttonHTML);
    // Attach onclick event handlers to the copy button and example text
    $('button.copybtn').bind("click", copybtns.btnClick);
    $('div.highlight pre').bind("click", copybtns.txtClick);
  }
}
copybtns.init();
</script>
